ul.post-list {
  list-style: none;
  margin: 0;
}

.post-post {
  padding: 1em;
  margin: 0;
}

.post-post:not(:first-child) {
  border-top: 1px dashed  #ddd;
  margin-top: 1em;
}

.post-title {
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  background: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
h2.post-title a { color: black; }

.post-date {
  float: right;
  font-style: italic;
  padding: 0.2em 1em;
}

.post-more {
  float: right;
  font-style: italic;
  font-size: small;
}


.post-excerpt {
  margin: 0em 1em;
}

.footnote, .footnotes {
  display: none
}
