body { 
       font-family: "sans serif";
}

a,a:visited {
              color: blue;
              text-decoration: none;
}


.date { 
        font-family: "monospace";
        font-size: 0.8em;
 }

.wrapper { 
           max-width: 600px;
           margin: 0 auto;
           background: rgba(255,255,255,80);
 }


.top { 
       text-align: right;
 }

.top > div { 
             display: inline;
             text-align: right;
}

.left { 
        float: left;
 }

.headfoot { 
            color: white;
            background: rgb(60,60,60);
            font-size: 0.8em;
            padding: 1px 10px;
 }
.headfoot a, .headfoot a:visited { 
                                   color: lightblue;
}

.header { 
 }

.footer { 
 }


.content { 
           /*margin: 5px 10px;*/
           text-align:justify;
 }

p { 
    text-indent: 2em;
    margin: 8px 5px;
 }

h1 + p, h2 + p, h3 + p, 
h4 + p, h5 + p, h6 + p { 
                         margin-top: 0px;
                         text-indent: 0em;
 }


ul { 
         list-style: circle inside none;
 }



h1, h2, h3, 
h4, h5, h6 { 
             margin-bottom: 0px;
             color: white;
 }

h1 + h2, h2 + h3, h3 + h4, 
h4 + h5, h5 + h6 { 
                   margin-top: 0px;
 }

h1 { 
     background: black;
     padding: 3px 15px;
     margin-top: 0px;
     margin-bottom: 5px;
 }
h2 { 
     background: darkred;
     padding: 2px 20px;
     font-size: 1.3em;
 }

h3 { 
     background: purple;
     padding: 2px 25px;
     font-size: 1.1em;
 }

h4 { 
     background: green;
     padding: 2px 30px;
     font-size: 1.05em;
 }

.title .pub-date { 
                   /*color: transparent;*/
                   font-size:0.5em;
                   line-height:2.4em;
                   float:right;
 }
.title:hover .pub-date { 
                         color: inherit;
 }