body { 
       font-family: "sans serif";
}

a {
    text-decoration: none;
}


h2 { 
     margin-left: 5px;
     font-size: 1.1em;
 }

.wrapper { 
           max-width: 600px;
           margin: 0 auto;
 }

.content { 
           margin: 5px 10px;
 }

.header { 
          font-size: 0.8em;
          border-bottom: 1px solid grey;
          text-align: right;
 }

.footer { 
          margin-top: 20px;
          border-top: 1px solid black;
          font-size: 0.8em;
          text-align: right;
 }


.date { 
        font-family: "monospace";
        font-size: 0.8em;
 }

ul { 
         list-style: circle inside none;
 }