---
page_colour: white #  rgb(230,230,230)
content_colour: white
link_colour: inherit

header_image:
  url: "/img/jump.jpg"
  height: 166px

body_padding: 15px
text_margin: 30px

width: 800px
wide_width: 1000px

normal_font: 17px
small_font: 16px

thresholds: {mobile: 640px, verythin: 500px, thin: 820px, wide: 140000px}

toc: {width: 300px, heading: {bg_colour: white, colour: black}, margin: 5px 10px}

footnotes: {width: 700px}

small_caps_headings: [h1, h2]
headings: [h1, h2, h3, h4, h5, h6]
heading_properties:
  h1: { indent: 10px, size: 2.2em, space: 0 }
  h2: { # "rgb(100, 0, 0)",
       indent: 20px, size: 1.7em, space: 15px }
  h3: { # darkblue,
        indent: 30px, size: 1.4em, space: 12px }
  h4: {
    indent: 30px, size: 1.2em, space: 9px }
  h5: {
    indent: 30px, size: 1.1em, space: 6px }
  h6: {
    indent: 30px, size: 1em, space: 6px }

paragraph_like: [p, ul, ol, blockquote, dl, "table:not(.highlighttable)"]
---
{% comment %} sets head_plus_head to h1+h1,h1+h2,h1+h3,...,h6+h6

   The #nothing-ignorethisselector is there to absorb the trailing comma,
   because github doesn't cope with { { ... | split: xyz | ... }}. (' for syntax highlighting)
{% endcomment %}
{% capture head_plus_head %}{% for h in page.headings %}{% for h_ in page.headings %}{{ h }}+{{ h_ }}, {% endfor %}{% endfor %} #nothing-ignorethisselector{% endcapture %}
{% capture p_p %}{% for p in page.paragraph_like %}{% for p_ in page.paragraph_like %}{{ p }} {{ p_ }}, {% endfor %}{% endfor %} #nothing-ignorethisselector{% endcapture %}
{% capture p_like %}{{ page.paragraph_like | join:',' }}{% endcapture %}

@import "syntax.css";

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url("fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), url("fonts/FiraSans-Medium.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), url("fonts/SourceSerifPro-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Heuristica Italic'), url("fonts/Heuristica-Italic.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Serif Pro Bold'), url("fonts/SourceSerifPro-Bold.woff") format('woff');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), url("fonts/SourceCodePro-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Code Pro Semibold'), url("fonts/SourceCodePro-Semibold.woff") format('woff');
}

html {
    background-color: {{page.page_colour}};
    min-height:100%;
}

body {
    counter-reset: footnotes;
    margin:0px;
    font-family: "Source Serif Pro","serif";
    padding: {{page.body_padding}} 0;

    -moz-font-feature-settings: "kern", "liga";
    -webkit-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
}

#wrapper {
    margin: 0 auto;
    background: {{page.content_colour}};
    max-width: {{page.width}};
    width: 100%;
    position:relative;
}

#toc {
    font-size: 0.9em;
    max-width: {{ page.toc.width }};
    width: 100%;
    margin: {{ page.toc.margin }};
    background: white;
    display: none;
    float: right;
    border: solid lightgrey;
    border-width: 1px;
}

#toc h2 {
     margin-top: 0px;
     text-align: center;
}

#toc-list {
  font-size: inherit;
     padding-bottom: 5px;
     margin: 0;
}

#toc ol {
     list-style-type: none;
}
#toc li {
     margin-left: 15px;
}

{{p_like}} {
  font-size: {{ page.normal_font }};
    margin: 8px {{page.text_margin}};
}
em {
  font-size: 0.97em;
}

/* nested "p p", "ol p" etc */
{{p_p}} {
    margin: 4px 0px;
}

ul,ol {
    padding-left: 0px;
    margin-right: {{page.text_margin | times:2}}px;
}

ul ul, ul ol, ol ul, ol ol {
   font-size: .95em;
}
ul ul li, ol ul li, ul ol li, ol ol li {
    margin: 2px 0 2px 20px;
}

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }
ul ul ul ul ul { list-style-type: circle; }
ul ul ul ul ul ul { list-style-type: square; }


ol ol { list-style-type: upper-roman; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: upper-alpha; }
ol ol ol ol ol { list-style-type: lower-alpha; }
ol ol ol ol ol ol { list-style-type: lower-greek; }

li {
    margin: 4px 0 4px {{page.text_margin}};
}

table:not(.highlighttable) {
  /* FIXME: !important :( */
  margin: 0 auto !important;
}

table:not(.highlighttable) td {
  padding: 3px 5px;
}
table:not(.highlighttable) thead {
  border-bottom: 1px solid grey;
}

.date {
    font-size: 1em;
}

#header {
  position: relative;
  border: 1px solid black;
  height: {{ page.header_image.height }};
  background-image: url({{ page.header_image.url }});
  background-position: 80% 25%;
  font-family: "Fira Sans", "sans-serif";
  color: white;
}
#head-link {
  width: 100%;
  height: 100%;
  display: block;
}
#info-box, #breadcrumbs {
  position: absolute;
  background: #333;
  background: rgba(0, 0, 0, 0.5);
}
#info-box {
  max-width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 8px;
}
#blog-title {
  font-size: 1.2em;
  background: none;
  padding: 0;
  margin: 0;
}
#blog-title a {
  text-decoration: none;
}
#info-list {
  list-style: none;
  margin: 0.2em 1em;
}
#info-list li {
  margin: 0;
}

#breadcrumbs {
  bottom: 5px;
  right: 5px;
  padding: 7px;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  min-width: 180px;
  max-width: 100%;
}

.headfoot {
    color: white;
    font-size: 1em;
}
#footer {
  /*border-top: 1px solid black;
    background: rgb(60,60,60);*/
  text-align: right;
  padding: 2px 10px;
  margin: 10px 0;
  color: grey;
}
#footer .left, #footer .right {
  display: inline-block;
}
#footer > .left {
  float: left;
  text-align: left;
}
#footer > .right {
  float: right;
}
#footer span {
    margin: 0 5px;
    display: inline-block;
}
#footer span span {
    margin: 0;
    display: inline;
}
.clear { clear: both; }


#content-wrapper {
    text-align:justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom:20px;
}

a[href] {
    color: {{ page.link_colour }};
    text-decoration: underline;
}


/* indent paragraphs that follow another paragraph */
p + p {
    text-indent: 1.5em;
}


/* paragraphs just below a heading */
{{ page.headings | join:' ' | replace: ' ','+p,' | append: '+p' }} {
    margin-top: 8px;
/*    text-indent: 0em;*/
}

/*  The authorship info */
#info-intro {
    margin: 0.5em 1em;
    font-size: 0.9em;
    font-style: italic;
}

/* code */

code, pre {
  font-family: "Source Code Pro", "monospace";
}

pre {
  background: #f0f0f0;
}
code {
    background: #f0f0f0;
    padding: 0.05em;
    margin: 0.15em;
    font-size: 0.9em;
}
{{ page.headings | join:' code, ' | append: ' code' }} {
  background: rgba(255,255,255,0.1);
}

.highlighttable {
   /*background: #f5f5f5;
   border: solid #aaaaaa;
   border-width: 1px 0;*/
   padding: 0em;
   width: 100%;
   table-layout: fixed;
   overflow-x: auto;
   overflow-y: hidden;
   display: block;
   font-size: 0.9em;
   position: relative;
   z-index: 1;
}
.highlighttable code::before {
  font-family: "Fira Sans", "sans-serif";
  content: attr(data-lang);
  text-transform: capitalize;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 2em;
  color: #f3f3f3;
  z-index: -1;
}

.highlighttable td {
   padding: 0.5em 0;
}

.highlight {
   z-index: 2;
}
.highlight > pre, .linenodiv > pre {
  background: transparent;
}

td.linenos {
   border: solid #aaaaaa;
   border-width: 0 1px 0 0;
   color: #aaaaaa;
   /*background: #bbbbbb;*/
}
.linenodiv > pre {
   margin: 0;
   width: 25px;
   padding-right: 5px;
}
.linenos code {
   background: transparent;
   padding: 0;
   margin: 0;
}

/* quotes */

blockquote {
    border: solid lightgrey;
    border-width: 0 1px;
    padding: 0.1em 1.2em;
    color: rgb(30,30,30);
    font-size: 0.95em;
}

blockquote p {
    margin-left: 0;
    margin-right: 0;
}

/* images */
img:not(.inline-image) {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

img[data-caption]:before {
    content: attr(data-caption);
}

/* HEADINGS */
{{ page.small_caps_headings | join: ',' }} {
    -moz-font-feature-settings: "kern", "liga", "smcp";
    -webkit-font-feature-settings: "kern", "liga", "smcp";
    font-feature-settings: "kern", "liga", "smcp";
}

{{ page.headings | join:',' }} {
    margin-bottom: 0px;
    font-family: "Fira Sans", "sans-serif";
}

@media not print {
    {{ head_plus_head }} {
        border-top: 1px solid black;
    }
}

{{ head_plus_head }} {
    margin-top: 0px;
}

{% for h in page.headings %}
   {% assign hh = page.heading_properties[h] %}
   {{ h }} {
      margin-top: {{ hh.space }};
      font-size: {{ hh.size }};
      padding: 2px {{ hh.indent }};
   }
{% endfor %}

/* Comment box */

#comments {
  margin: 2em 0;
  text-align: center;
}
#comments-label {
  font-weight: bold;
}
#comments-list {
  display: inline;
  list-style: none;
  margin: 0;
}
.comment-service {
  display: inline;
  margin: 0 2px;
}

/* "Footnotes" */

/* filler for noscript people */
.footnote {
    font-size: 1em;
    display: inline;
    border: 1px solid lightgrey;
    vertical-align: sub;
}

.footnote-counter {
    vertical-align: super;
    font-size: 0.6em;
    /*color: grey;*/
}
.footnote-counter:target {
    font-weight: bold;
    font-style: italic;
    color:black;
}

/* the div that holds them */
.footnotes {
    /*display: none;*/
    max-width: {{ page.footnotes.width }};
    margin: 20px auto 10px;
    padding-top: 5px;
    border-top: 1px solid rgb(240,240,240);
    font-size: 0.9em;
}
.footnotes hr {
    display: none;
}
.footnotes ol {
    margin: 0;
}
.footnotes li {
    list-style-position: outside;
    margin-left: 30px;
    margin-right: 10px;
    padding: 1px 6px;
    color: #333;
}

.footnotes li:target, .footnotes li:hover {
    color: black;
    background-color: lightyellow;
}

.footnotes a[rev="footnote"] {
    color: grey !important;
    margin: 0 0.3em;
}

/* extra info after a post */
#more {
  margin: 2em 0 0;
  border: solid lightgray;
  border-width: 1px 0;

  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-column-rule: 1px solid lightgray;
  -webkit-column-rule: 1px solid lightgray;
  column-rule: 1px solid lightgray;

}
#by-line, #latest {
  display: inline-block;
}
#latest {
  font-size: 0.8em;
}
#latest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#latest-heading {
  margin: 8px 0 0;
}
.latest-post {
  font-size: 0.8em;
  margin: 0.8em;
  padding: 0;
}
.latest-post > h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
/* media queries */

@media (min-width: {{page.thresholds.thin }})
and (max-width: {{page.thresholds.wide}})  {
    #screen-ind:before{
        content: "normal";
    }
}

@media (max-width: {{page.footnotes.width | plus:20 }}px) {
    .footnotes {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media (max-width: {{ page.thresholds.thin }}) {
    body {
        padding:0px;
    }

    #screen-ind:before {
        content: "thin";
    }

    {{p_like}} {
      font-size: {{ page.small_font }};
         margin-left: {{page.text_margin | divided_by:3}}px;
         margin-right: {{page.text_margin | divided_by:3}}px;
    }
    ul ul li, ol ul li, ul ol li, ol ol li {
         margin: 2px 0 2px 15px;
    }

    blockquote {
         padding-left: 0.6em;
         padding-right: 0.6em;
    }

    {% for h in page.headings %}
        {{ h }} {
           padding: 2px {{ page.heading_properties[h].indent | divided_by:3 }}px;
        }
    {% endfor %}
}

@media (max-width: {{ page.thresholds.verythin }}) {
     #screen-ind:before {
        content: "very thin";
    }

    #toc {
         float: none;
         max-width: none;
         width: auto;
         border-width: 0 0 1px 0;
    }
    #toc h2 {
         border: 0px;
    }
    #toc-list {
         margin: 0 auto;
         max-width: {{ page.toc.width | times: 2}}px;

         border-width: 0;
    }

    {{p_like}} {
         margin-left: 3px;
         margin-right: 3px;
    }
    ul ul li, ol ul li, ul ol li, ol ol li {
         margin: 2px 0 2px 8px;
    }

    blockquote {
         padding-left: 0.4em;
         padding-right: 0.4em;
    }

    {% for h in page.headings %}
        {{ h }} {
           padding: 2px {{ page.heading_properties[h].indent | divided_by:4 }}px;
        }
    {% endfor %}
}

@media screen and (max-width:{{page.thresholds.mobile}}) {
    #screen-ind:before {
        content: "mobile";
    }
}

@media (min-width: {{ page.thresholds.wide }}) {
    #screen-ind:before {
        content: "wide";
    }

    #wrapper {
        max-width: {{ page.wide_width }};
    }

    /*ul,ol {
        column-gap: 0;
        columns: 2 {{ page.wide_width | minus:page.text_margin | minus:page.text_margin | minus:page.text_margin | times:0.5}}px;
        -moz-column-gap: 0px;
        -moz-columns: 2 {{ page.wide_width | minus:page.text_margin | minus:page.text_margin | minus:page.text_margin | times:0.5}}px;
        -webkit-column-gap: 0px;
        -webkit-columns: 2 {{ page.wide_width | minus:page.text_margin | minus:page.text_margin | minus:page.text_margin | times:0.5}}px;
    }*/
    li {
    /*    margin-right:0;
        margin-left:0;*/
    }
}

@media only print {p
    body {
        font-family: "Source Serif Pro", serif;
    }
    #header {
        display:none !important;
    }

    {{ page.headings | join: ',' }} {
        padding-left: 0 !important;
    }

    {{ p_like }} {
        margin-left: 0px;
        margin-right: 0px;
    }

    #wrapper {
       max-width: none !important;
    }

    .no-print {
        display: none !important;
    }
    #screen-ind:before {
        content: "print";
    }

    .footnotes {
        max-width: none !important;
    }

    .footnotes .reversefootnote {
         display: none !important;
    }
}
