---
top_colour: rgb(170,170,170)
bottom_colour: rgb(112,112,112)
---

html { 
    background-image: linear-gradient(bottom, {{page.bottom_colour}} 0%, {{page.top_colour}} 100%);
    background-image: -o-linear-gradient(bottom,  {{page.bottom_colour}} 0%, {{page.top_colour}} 100%);
    background-image: -moz-linear-gradient(bottom,  {{page.bottom_colour}} 0%, {{page.top_colour}} 100%);
    background-image: -webkit-linear-gradient(bottom,  {{page.bottom_colour}} 0%, {{page.top_colour}} 100%);
    background-image: -ms-linear-gradient(bottom,  {{page.bottom_colour}} 0%, {{page.top_colour}} 100%);
    background-color: {{page.top_colour}};
    min-height:100%;
}

body { 
    margin:0px;
    padding:15px;
    font-family: "sans serif";
}

a,a:visited {
    color: #22A;
    text-decoration: none;
}


.date { 
    font-family: "monospace";
    font-size: 0.8em;
}


.wrapper { 
    max-width: 600px;
    margin: 0 auto;
    background: rgb(240,240,240);
}


.top { 
    text-align: right;
}

.top > div { 
    display: inline;
    text-align: right;
}

.left { 
    float: left;
}

.headfoot { 
    color: white;
    background: rgb(60,60,60);
    font-size: 0.8em;
    padding: 1px 10px;
}
.headfoot a, .headfoot a:visited { 
    color: lightblue;
}

.header { 
}

.header span { 
    margin: 0 5px;
}

.footer { 
}


.content { 
    /*margin: 5px 10px;*/
    text-align:justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

p { 
    text-indent: 1.5em;
}
p,li {
    margin: 8px 10px;
}

h1 + p, h2 + p, h3 + p, 
h4 + p, h5 + p, h6 + p { 
    margin-top: 5px;
    text-indent: 0em;
}


ul { 
    list-style: circle outside none;
}
li {
    margin-top: 4px;
    margin-bottom: 4px;
}



h1, h2, h3, 
h4, h5, h6 { 
    margin-bottom: 0px;
    color: white;
}

h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6,
h5 + h6 { 
    margin-top: 0px;
}

h1 { 
    background: black;
    padding: 3px 15px;
    margin-top: 0px;
}
h2 { 
    margin-top: 15px;
    background: darkred;
    padding: 2px 15px;
    font-size: 1.3em;
}

h3 { 
    margin-top: 12px;
    background: purple;
    padding: 2px 22px;
    font-size: 1.2em;
}

h4 { 
    margin-top: 9px;
    background: blue;
    padding: 2px 30px;
    font-size: 1.1em;
}

h5 { 
    margin-top: 6px;
    background: green;
    font-size: 1.1em;
    padding: 2px 35px;
}
h6 { 
    background: darkorange;
    font-size: 1em;
    padding: 2px 35px;
}

.title .pub-date { 
    /*color: transparent;*/
    font-size:0.5em;
    line-height:2.4em;
    float:right;
}
.title:hover { 
}