{% if include.limit %}
 {% assign limit = include.limit %}
{% else %}
 {% assign limit = 10000000 %}
{% endif %}

{% if include.year %}
 {% capture search_year %}{{ include.year }}{% endcapture %}
{% else %}
 {% assign search_year = false %}
{% endif %}

{% if include.month %}
 {% capture search_month %}{{ include.month }}{% endcapture %}
{% else %}
 {% assign search_month = false %}
{% endif %}

<ul class="post-list">
{% for post in site.posts limit: limit %}
 {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
 {% capture this_month %}{{ post.date | date: "%-m" }}{% endcapture %}

 {% unless search_year and this_year != search_year %}
  {% unless search_month and this_month != search_month %}
    {% include post_summary.html post=post %}
  {% endunless %}
 {% endunless %}
{% endfor %}
</ul>
