<section id="external-links" class="no-print">
  {% if include.c.size > 0 %}
  <div id="comments">
    <span class="external-label">Comments:</span>
    <ul class="external-list">
      {% include comment_line.html name="users" url=include.c.users %}
      {% include comment_line.html name="/r/rust" url=include.c.r_rust %}
      {% include comment_line.html name="/r/programming" url=include.c.r_programming %}
      {% include comment_line.html name="Hacker News" url=include.c.hn %}
      {% for name_url in include.c.others %}
      {% assign name=name_url[0] %}
      {% assign url=name_url[1] %}
      {% include comment_line.html name=name url=url %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div id="external-page">
    <span class="external-label">Share this on</span>
    <ul class="external-list">
      <li class="external-link"><a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}{% unless page.not_rust %}%20%23rustlang{% endunless %}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}" target="_blank" rel="nofollow noopener" title="Share on Twitter">Twitter</a></li>
      <li class="external-link"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow noopener" target="_blank" title="Share on Facebook">Facebook</a></li>
      <li class="external-link"><a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title | uri_escape }}" rel="nofollow noopener" target="_blank" title="Share on Reddit">Reddit</a></li>
    </ul>
  </div>
</section>
