<div id="comments" class="no-print">
  <span id="comments-label">Comments:</span>
  <ul class="external-list">
    {% include comment_line.html name="users" url=include.c.users %}
    {% include comment_line.html name="/r/rust" url=include.c.r_rust %}
    {% include comment_line.html name="/r/programming" url=include.c.r_programming %}
    {% include comment_line.html name="Hacker News" url=include.c.hn %}
    {% for name_url in include.c.others %}
    {% assign name=name_url[0] %}
    {% assign url=name_url[1] %}
    {% include comment_line.html name=name url=url %}
    {% endfor %}
  </ul>
</div>
<div id="external-page" class="no-print">
  <span id="external-page-label">Share this on</span>
  <ul class="external-list">
    <li class="external-link"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.root }}{{ page.url }}&via={{ site.twitter }}" target="_blank" rel="nofollow" title="Share on Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="external-link"><a href="https://facebook.com/sharer.php?u={{ site.root }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official"></i> Facebook</a></li>
    <li class="external-link"><a href="https://plus.google.com/share?url={{ site.root }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square"></i> Google+</a></li>
  </ul>
</div>
