<div id="comments" class="no-print">
  <span id="comments-label">Comments:</span>
  <ul id="comments-list">
    {% include comment_line.html name="users" url=include.c.users %}
    {% include comment_line.html name="/r/rust" url=include.c.r_rust %}
    {% include comment_line.html name="/r/programming" url=include.c.r_programming %}
    {% include comment_line.html name="Hacker News" url=include.c.hn %}
    {% for name_url in include.c.others %}
    {% assign name=name_url[0] %}
    {% assign url=name_url[1] %}
    {% include comment_line.html name=name url=url %}
    {% endfor %}
  </ul>
</div>
