{% include syntax.css %}

html {
    min-height:100%;
}

body {
  padding:0px;
}
body {
    counter-reset: footnotes;
    margin:0px;
    font-family: "Georgia", serif;
    font-size: 17px;

    font-variant: common-ligatures;
    -moz-font-feature-settings: "kern" on;
    -webkit-font-feature-settings: "kern" on;
    font-feature-settings: "kern" on;
}

#wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    position:relative;
}

#toc {
    font-size: 0.9em;
    max-width: 300px;
    width: 100%;
    margin: 5px 10px;
    background: white;
    display: none;
    float: right;
    border: solid lightgrey;
    border-width: 1px;
}

#toc h2 {
     margin-top: 0px;
     text-align: center;
}

#toc-list {
     padding-bottom: 5px;
     margin: 0;
}

#toc ol {
     list-style-type: none;
}
#toc li {
     margin-left: 15px;
}

ul,ol {
    padding-left: 0px;
    margin-right: 60px;
}

ul ul, ul ol, ol ul, ol ol {
   font-size: .95em;
}
ul ul li, ol ul li, ul ol li, ol ol li {
    margin: 2px 0 2px 20px;
}

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }
ul ul ul ul ul { list-style-type: circle; }
ul ul ul ul ul ul { list-style-type: square; }


ol ol { list-style-type: upper-roman; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: upper-alpha; }
ol ol ol ol ol { list-style-type: lower-alpha; }
ol ol ol ol ol ol { list-style-type: lower-greek; }

li {
    margin: 4px 0 4px 30px;
}

table {
  margin: 0 auto;
}

table td {
  padding: 3px 5px;
}
table thead {
  border-bottom: 1px solid grey;
}
th {
  padding: 0 5px;
  font-weight: normal;
}

.date {
    font-size: 1em;
}

#header {
  position: relative;
  font-family: "Gill Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
#header a:not(:hover) {
  text-decoration: none;
}
#blog-title {
  font-size: 1.5em;
  font-weight: 400;
  background: none;
  text-align: center;
}
#info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#info-list li {
  margin: 0 1em;
}

#breadcrumbs {
  flex-grow: 1;
}

#footer {
  /*border-top: 1px solid black;
    background: rgb(60,60,60);*/
  text-align: right;
  padding: 2px 10px;
  margin: 10px 0;
  color: grey;
}
#footer .left, #footer .right {
  display: inline-block;
}
#footer > .left {
  float: left;
  text-align: left;
}
#footer > .right {
  float: right;
}
#footer span {
    margin: 0 5px;
    display: inline-block;
}
#footer span span {
    margin: 0;
    display: inline;
}
.clear { clear: both; }


#content-wrapper {
    text-align:justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom:20px;

    position: relative;
    z-index: 10;
}

a[href] {
    color: inherit;
    text-decoration: underline;
}


/* indent paragraphs that follow another paragraph */
p {
  line-height: 1.35em;
}
p + p {
  text-indent: 1.5em;
}

.fa {
  text-indent: 0;
}

/*  The authorship info */
#info-intro {
    margin: 0.5em 0;
    font-style: italic;
}

/* code */

code, pre {
  font-family: monospace;
}

pre {
  background: #f0f0f0;
}
code {
    background: #f7f7f7;
    padding: 0 0.1em;
    font-size: 0.9em;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 3px;
    border: 1px solid lightgrey;
}
pre code {
    background: none;
    padding: 0;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 0;
    border-width: 0;
}
h1 code, h2 code, h3 code, h4 code {
  background: rgba(255,255,255,0.1);
}

.highlight {
  position: relative;
}
.highlight table {
   /*background: #f5f5f5;
   border: solid #aaaaaa;
   border-width: 1px 0;*/
  font-size: 0.9em;
   padding: 0em;
   width: 100%;
   table-layout: fixed;
   overflow-y: hidden;
   display: block;
   position: relative;
   z-index: 1;
   margin: 0;
}
[data-lang]::before {
  font-family: "Gill Sans", sans-serif;
  content: attr(data-lang);
  text-transform: capitalize;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 1.5em;
  color: #f3f3f3;
  z-index: 1;
}

.highlight pre {
  background: transparent;
  margin: 0;
}
.highlight td {
  padding: 0.5em 0;
  margin: 0;
}
.highlight code {
  font-size: 1em;
}

.gutter {
   border: solid #ccc;
   border-width: 0 1px 0 0;
   color: #ccc;
   /*background: #bbbbbb;*/
}
.lineno {
  width: 25px;
  padding-right: 5px;
}
.highlight td.code {
  overflow-x: auto;
  padding-left: 0.5em;
}

/* quotes */

blockquote {
    border: solid #eee;
    border-width: 0 1px;
    padding: 0.1em 1.2em;
    color: #444;
    position: relative;
}
blockquote::before {
    color: #eee;
    content: "“";
    top: -25px;
    left: 0;
    position: absolute;
    font-size: 10em;
    z-index: -1;
}

blockquote p {
    margin-left: 0;
    margin-right: 0;
}

/* images */
img {
    max-width: 100%;
}
img:not(.inline-image) {
    display: block;
    margin: 0 auto;
    clear: both;
}

.image-positioner {
  text-align: center;
}

img[data-caption]:before {
    content: attr(data-caption);
}
figure {
    clear: both;
}
figure.has-caption {
    margin-top: 1em;
    padding: 5px;
}
figcaption {
  margin: 0 30px;
  padding: 0 30px;
  text-align: center;
  font-style: italic;
}
figcaption p {
  margin: 0;
}

/* HEADINGS */

h1, h2 {
    font-variant: small-caps common-ligatures;
    -moz-font-feature-settings: "kern" on;
    -webkit-font-feature-settings: "kern" on;
    font-feature-settings: "kern" on;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    font-family: "Gill Sans", sans-serif;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}

/* crates.io badges */

.lib-info {
  float: right;
  width: 150px;
  text-align: center;
  margin: 0 1em;
}
.lib-badge {
  verical-align: middle;
}
.centered-libs {
  text-align: center;
}
.centered-libs .lib-info {
  float: none;
}

/* Comment box */

#external-links {
    margin: 2em 0em;
}
#comments, #external-page {
  text-align: center;
  margin: 0;
}
#comments {
  margin-bottom: 0.5em;
}
#external-page {
  margin-top: 0.5em;
}

#comments-label {
  font-weight: bold;
}
.external-list {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.external-link {
  display: inline-block;
  margin: 0 2px;
}

#external-page-label {
  font-weight: bold;
}

/* "Footnotes" */

/* filler for noscript people */
.footnote {
    font-size: 1em;
    display: inline;
    border: 1px solid lightgrey;
    vertical-align: sub;
}

.footnote-counter {
    vertical-align: super;
    font-size: 0.6em;
    /*color: grey;*/
}
.footnote-counter:target {
    font-weight: bold;
    font-style: italic;
    color:black;
}

/* the div that holds them */
.footnotes {
    /*display: none;*/
    max-width: 700px;
    margin: 20px auto 10px;
    padding-top: 5px;
    border-top: 1px solid rgb(240,240,240);
    font-size: 0.9em;
}
@media (max-width: 720px) {
  .footnotes {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.footnotes hr {
    display: none;
}
.footnotes ol {
    margin: 0;
}
.footnotes li {
    list-style-position: outside;
    margin-left: 30px;
    margin-right: 10px;
    padding: 1px 6px;
    color: #333;
}

.footnotes li:target, .footnotes li:hover {
    color: black;
    background-color: lightyellow;
}

.footnotes a[rev="footnote"] {
    color: grey !important;
    margin: 0 0.3em;
}

/* extra info after a post */
#more {
  margin: 2em 0 0;
  padding: 15px 0;
  border: solid lightgray;
  border-width: 1px 0;

  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-column-rule: 1px solid lightgray;
  -webkit-column-rule: 1px solid lightgray;
  column-rule: 1px solid lightgray;

}
#by-line, #latest {
  display: inline-block;
}
#by-line > p {
  margin: 0.4em;
}
#me-icon {
  max-width: 150px;
  height: 150px;
  background: url("/img/me.jpg");
  background-size: cover;
  margin: 8px auto;
  border-radius: 30px;
}
#latest {
  font-size: 0.8em;
  margin: 8px 0;
}
#latest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#latest-heading {
  margin: 0;
  text-align: center;
}
.latest-post {
  font-size: 0.8em;
  margin: 0.4em;
  padding: 0;
}
.latest-post > h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

/* post series */

.post-series {
  clear: both;
  font-size: 0.9em;
  max-width: 300px;
  float: right;
  border: 1px solid lightgray;
  margin: 5px 10px;
}

.post-series-title {
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
.post-series-list {
  margin: 0;
  font-size: inherit;
}
.post-series-list li {
  margin: 0 15px 0 20px;
}
.post-series em.current {
  font-style: normal;
}

/* etc. */
#work {
  max-width: 100%;
  width: 500px;
  margin: 2em auto;
  font-style: italic;
}

/* archive pages */
ul.post-list {
  list-style: none;
  margin: 0;
}

.post-post {
  padding: 1em;
  margin: 0;
}

.post-post:not(:first-child) {
  border-top: 1px dashed  #ddd;
  margin-top: 1em;
}

.post-title {
  font-weight: bold;
  font-size: 22px;
  background: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  -moz-font-feature-settings: "kern", "liga", "smcp";
  -webkit-font-feature-settings: "kern", "liga", "smcp";
  font-feature-settings: "kern", "liga", "smcp";
}
h2.post-title a { color: black; }

.post-date {
  float: right;
  font-style: italic;
  padding: 0.2em 1em;
}

.post-more {
  float: right;
  font-style: italic;
  font-size: small;
}


.post-excerpt {
  margin: 0em 1em;
}

.post-list .footnote, .post-list .footnotes {
  display: none
}

/* media queries */


@media (max-width: 820px) {
    ul ul li, ol ul li, ul ol li, ol ol li {
         margin: 2px 0 2px 15px;
    }

    blockquote {
         padding-left: 0.6em;
         padding-right: 0.6em;
    }
}

@media (max-width: 500px) {
    #toc {
        /* we definitely want to show this never */
        display: none !important;
    }

    ul ul li, ol ul li, ul ol li, ol ol li {
         margin: 2px 0 2px 8px;
    }

    blockquote {
         padding-left: 0.4em;
         padding-right: 0.4em;
    }
}

@media (min-width: 140000px) {
    #wrapper {
        max-width: 1000px;
    }
}

@media only print {
    body {
        font-family: serif;
    }
    a {
      text-decoration: none !important;
    }
    #header {
        display:none !important;
    }

    h1, h2, h3, h4 {
        padding-left: 0 !important;
    }

    #wrapper {
       max-width: none !important;
    }

    .no-print {
        display: none !important;
    }

    .footnotes {
        max-width: none !important;
    }

    .footnotes .reversefootnote {
         display: none !important;
    }
    [data-lang]::before {
      content: "";
    }
}
