<figure class="image {% if include.caption %}has-caption{% endif %}">
  <div class="image-positioner">
    {% if include.contents %}
    {% if include.link %}<a href="{{include.link}}" style="text-decoration: none">{% endif %}
      {{ include.contents }}
    {% if include.link %}</a>{% endif %}
    {% else %}
    <a href="{% if include.link %}{{ include.link }}{% else %}{{ include.src }}{% endif %}">
      <img
        src="{{ include.src }}"
        {% if include.alt %}alt="{{ include.alt }}"{% endif %}
        {% if include.title %}title="{{ include.title }}"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% endif %}
        />
    </a>
    {% endif %}
  </div>
  {% if include.caption %}<figcaption>{{ include.caption | markdownify }}</figcaption>{% endif %}
</figure>
