<div class="lib-info" style="{% if include.inline %}display: inline-block{% endif %}">
  <a class="lib-link" href=
  {% if include.doc_link %}
    "{{ include.doc_link }}"
  {% else %}
    "http://huonw.github.io/{{ include.name }}/{{ include.name | replace:'-','_' }}"
  {% endif %}
  >{{ include.name }}</a>
  <a href="https://crates.io/crates/{{ include.name }}"><img class="lib-badge inline-image" src="https://img.shields.io/crates/v/{{ include.name }}.svg" alt="{{ include.name }} on crates.io" /></a>
</div>
