<aside class="post-series">
  <div class="post-series-title">A series on trait objects</div>
  <ol class="post-series-list">
    <li><a href="{% post_url 2015-01-10-peeking-inside-trait-objects %}"><em class="{% include current.style a=0 b=include.n %}">Peeking inside Trait Objects</em></a></li>
    <li><a href="{% post_url 2015-01-12-the-sized-trait %}"><em class="{% include current.style a=1 b=include.n %}">The Sized Trait</em></a></li>
    <li><a href="{% post_url 2015-01-13-object-safety %}"><em class="{% include current.style a=2 b=include.n %}">Object Safety</em></a></li>
    <li><a href="{% post_url 2015-05-06-where-self-meets-sized-revisiting-object-safety %}"><em class="{% include current.style a=3 b=include.n %}">Where Self Meets Sized: Revisting Object Safety</em></a></li>
  </ol>
</aside>
