<details class="post-series">
  <summary class="post-series-title">Other posts in this series on trait objects</summary>
  <ol class="post-series-list">
    <li class="{% include current.style a=0 b=include.n %}"><a href="{% post_url 2015-01-10-peeking-inside-trait-objects %}">Peeking inside Trait Objects</a></li>
    <li class="{% include current.style a=1 b=include.n %}"><a href="{% post_url 2015-01-12-the-sized-trait %}">The Sized Trait</a></li>
    <li class="{% include current.style a=2 b=include.n %}"><a href="{% post_url 2015-01-13-object-safety %}">Object Safety</a></li>
    <li class="{% include current.style a=3 b=include.n %}"><a href="{% post_url 2015-05-06-where-self-meets-sized-revisiting-object-safety %}">Where Self Meets Sized: Revisting Object Safety</a></li>
  </ol>
</details>
