---
layout: empty
use_default: true
font_awesome: true
---

<div id="wrapper">
  <div id="header">
    <h1 id="blog-title"><a href="/">Huon on the internet</a></h1>
    <ul id="info-list" class="no-print">
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://github.com/huonw"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;<a href="http://twitter.com/huon_w"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
  <div id="content-wrapper" >
    <h1 id="title">{% if page.draft %}DRAFT:{% endif %} {{ page.title }}</h1>
    {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    {% if page.show_authorship or page.date %}
       <div id="info-intro">
         By <a href="/about">Huon Wilson</a>
         {% if page.date %}
           &mdash; Published <span class="date pub-date">{{ page.date | date_to_string }}</span>
         {% endif %}
         {% if page.updated_date %}
           &mdash; Updated <span class="date update-date">{{ page.updated_date | date_to_string }}</span>
         {% endif %}
       </div>
    {% endif %}
    <div id="content">
      {{ content }}
    </div>

    {% if page.date %}
    <div id="more" class="no-print">
      <div id="by-line">{% include byline.html %}</div>
      <h2 id="latest-heading"><a href="/blog">Latest posts</a></h2>
      {% assign count = 0 %}
      <ul id="latest-list"><!--
         {% for post in site.posts %}{% unless post.url == page.url or count >= 3 or post.draft %}
         --><li class="latest-post">
              <a href="{{ post.url }}">
                 <h3>{{ post.title }}</h3>
                   <p>{% if post.description %}{{ post.description | markdownify | replace:'<p>','' | replace:'</p>',''}}{% endif %}</p>
                 {% case count %}
                 {% when 1 %}{% assign count = 2 %}
                 {% when 0 %}{% assign count = 1 %}
                 {% else %}{% assign count = 3 %}
                 {% endcase %}
               </a>
          </li><!--
        {% endunless %}{% endfor %}
       --></ul>
    </div>
    {% endif %}
  </div>

  <div id="footer">
    <span>Huon Wilson &mdash; <span class="date">2021</span></span>
  </div>
</div>
