<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/default.css" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
  {% if page.google_meta %}<meta name="google-site-verification" content="_aEgVgHsog8J7l-p6dSzdXrInvNfHQ8kdejcbuopdzE" />{% endif %}
</head>

<body>
<div id="wrapper">
  <div id="header" class="headfoot">
    <div class="top">
      <div class="left">
	<span class="no-print">
	  <span>dbaupp (Huon Wilson):</span>
	  <span><a href="/" id="home-link">home</a></span>
	</span>
      </div>
      <div class="right">
        <span class="no-print"><a href="https://github.com/dbaupp/dbaupp.github.com">site source</a></span>
      </div>
    </div>
  </div>
  <div id="content" >
    <h1 id="title">{{ page.title }}
      {% if page.date %}
        <span class="date pub-date">{{ page.date | date_to_string }}</span>
      {% endif %}
    </h1>
    {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    {{ content }}
  </div>
  <div id="footer" class="headfoot">
    <div class="top">
      <div class="left">
	<span class="valid no-print">valid
	  <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fdbaupp.github.com{{page.url | escape_once }}">html</a>
	</span>
	<span>
	  Rendering<a href="rendering.html" title="Explanation" class="no-print">(?)</a>: <span id="screen-ind"></span>
	</span>
      </div>
      <div class="right">
	  <span class='no-print'>On <a href="https://github.com/dbaupp">github</a></span>
	  <span>Huon Wilson &mdash; <span class="date">2012</span></span>
      </div>
    </div>
  </div>
</div>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=7439209;
var sc_invisible=1;
var sc_security="b96244c7";
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="vBulletin
stats" href="http://statcounter.com/vbulletin/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7439209/0/b96244c7/1/"
alt="vBulletin stats"></a></div></noscript>
<!-- End of StatCounter Code -->
</body> </html>
