<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/default.css" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>

<body>
<div class="wrapper">
  <div class="header headfoot">
    <div class="top">
      <div class="left">
        {% unless page.no_top_link %}
          <!--<a href="">{{ page.title }}</a>-->
	  <span><a href="/" id="home-link">home</a></span>
        {% endunless %}
      </div>
      <div class="right">
        <span><a href="https://github.com/dbaupp/dbaupp.github.com">site source</a></span>
      </div>
    </div>
  </div>
  <div class="content hyphenate" >
    <h1 class="title">{{ page.title }}
      {% if page.date %}
        <span class="date pub-date">{{ page.date | date_to_string }}</span>
      {% endif %}
    </h1>
    {% if page.subtitle %}           
      <h2 class="subtitle">{{ page.subtitle }}</h2>     
    {% endif %} 
    {{ content }}     
  </div> 
  <div class="footer headfoot">    
    <div class="top">   
      <div class="left"><span class="valid">valid <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fdbaupp.github.com{{page.url | escape_once }}">html</a></span></div>
      <div class="right">   
	<span class="info">Huon Wilson (<a href="https://github.com/dbaupp">dbaupp</a>) &mdash; <span class="date">2011</span>
	</span> 
      </div>
    </div>
  </div>
</div>

 
<!--<script src="/js/jquery-1.7.0.min.js" type="text/javascript"></script>
<script src="/js/Hyphenator.js" type="text/javascript"></script> 
<script src="/js/en-gb.js" type="text/javascript"></script>     
<script src="/js/en-us.js" type="text/javascript"></script>    
<script src="/js/object.js" type="text/javascript"></script> 
<script src="/js/array.extra.js" type="text/javascript"></script> 
<script src="/js/array.js" type="text/javascript"></script>
<script src="/js/linked-list.js" type="text/javascript"></script> 
<script src="/js/linebreak.js" type="text/javascript"></script>
<script src="/js/formatter.js" type="text/javascript"></script>
<script src="/js/typography.js" type="text/javascript"></script>-->

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=7439209; 
var sc_invisible=1; 
var sc_security="b96244c7"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="vBulletin
stats" href="http://statcounter.com/vbulletin/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7439209/0/b96244c7/1/"
alt="vBulletin stats"></a></div></noscript>
<!-- End of StatCounter Code -->
</body> </html>
