<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% if page.draft %}DRAFT:{% endif %} {% if page.tab_title %}{{ page.tab_title | xml_escape }} | {% elsif page.title %} {{ page.title | xml_escape }} | {% endif %} {{ site.title | xml_escape }}</title>

  <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="Atom feed">
  <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="RSS feed">
  {% capture canonical_url %}{{ site.url }}{{ page.url | replace:'index.html','/' }}{% unless page.url contains '.html' %}/{% endunless %}{% endcapture %}
  <link rel="canonical" href="{{ canonical_url }}">

  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
  {% if page.google_meta or layout.google_meta %}<meta name="google-site-verification" content="ivImaTl-O1-gAOJqURoF3wVWIR8uTtIM7i2hcjDJbNo" />{% endif %}

  {% if page.title %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@huon_w" />
  <meta name="twitter:title" content="{{ page.title | xml_escape }}" />
  <meta name="twitter:description" content="{{ page.description | xml_escape }}" />
  <meta name="twitter:url" content="{{ canonical_url }}">

  <!-- facebook -->
  <meta property="og:url" content="{{ canonical_url }}" />
  <meta property="og:title" content="{{ page.title | xml_escape }}" />
  <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% if page.date %}
  <meta property="og:type" content="article" />
  {% endif %}
  {% endif %}
  <style>
    {% include normalize.css %}

    {% if page.use_default or layout.use_default %}
      {% include default.css %}
    {% endif %}
  </style>
  {% for item in page.css %}<link rel="stylesheet" href="{{ item }}" type="text/css" />{% endfor %}
</head>

<body>
{{ content }}


<!-- Default Statcounter code for huonw.github.io
http://huonw.github.io -->
<script type="text/javascript">
var sc_project=7439209;
var sc_invisible=1;
var sc_security="b96244c7";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="hit counter"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/7439209/0/b96244c7/1/"
alt="hit counter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62534856-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-62534856-1');
</script>

{% if page.js and page.no_jquery != true  %}
<!--   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
   <!--[if !IE]>--><script src="/js/zepto.min.js" type="text/javascript"></script><!--<![endif]-->
   <!--[if IE]><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script><![endif]-->
{% endif %}
{% for item in page.js %}<script src="{{ item }}" type="text/javascript"></script>{% endfor %}
{% if layout.font_awesome or page.font_awesome %}<link rel="stylesheet" property="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">{% endif %}
</body> </html>
