<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% if page.tab_title %} {{ page.tab_title }} | {% elsif page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

  <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="Atom feed">
  <link rel="alternate" type="application/rss+xml" href="/blog/atom.rss" title="RSS feed">

  <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
  {% if page.use_default %} <link rel="stylesheet" href="/css/default.css" type="text/css" />{% endif %}
  {% for item in page.css %}<link rel="stylesheet" href="{{ item }}" type="text/css" />{% endfor %}
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
  {% if page.google_meta %}<meta name="google-site-verification" content="ivImaTl-O1-gAOJqURoF3wVWIR8uTtIM7i2hcjDJbNo" />{% endif %}
  {% if page.no_toc %}<script type="text/javascript">window.no_toc=true;</script>{% endif %}

  {% if page.title %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@huon_w" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:url" content="{{ site.root }}{{ page.url }}">
  {% endif %}
</head>

<body>
{{ content }}

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=7439209;
var sc_invisible=1;
var sc_security="b96244c7";
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="vBulletin
stats" href="http://statcounter.com/vbulletin/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7439209/0/b96244c7/1/"
alt="vBulletin stats"></a></div></noscript>
<!-- End of StatCounter Code -->

{% if page.use_default or page.js and page.no_jquery != true  %}
<!--   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
   <!--[if !IE]>--><script src="/js/zepto.min.js" type="text/javascript"></script><!--<![endif]-->
   <!--[if IE]><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script><![endif]-->

   <script src="/js/default.js" type="text/javascript"></script>
{% endif %}
{% for item in page.js %}<script src="{{ item }}" type="text/javascript"></script>{% endfor %}
</body> </html>
